body{
    background-color: aqua;


}
.company{
    
    padding: 200px;
    margin: 200px;
    border-radius: 100px;
    background-color: #a7a0a0;
    text-align: left;
    postion:fixed
}
h1{
    color: green;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}
.details{
    font-size: 18px;
    color: #333;
    font-weight: normal;
    text-align: right;
    position top: 10px;
    /* margin-top: 15px; */
}
    .details p{
        text-align: right;
    }

img{
    display: block;
    /* margin-left: 100px; */
    /* margin-right: 100px    */
   float: left; 
}
.company p{
    text-align: justify;
    color: #000;
    line-height: 1.5;
    margin-top: 20px;
}
